<ul id="scxChartContextMenu" class="dropdown-menu scxContextMenu" role="menu">
    <li data-id="buyCondition" class="spaceIcon scxContextMenuTLbuy"><a href="#" data-i18n="contextMenu.buyCondition"></a></li>
    <li data-id="sellCondition" class="spaceIcon scxContextMenuTLsell"><a href="#" data-i18n="contextMenu.sellCondition"></a></li>
    <li data-id="takeprofitCondition" class="spaceIcon scxContextMenuTLtp"><a href="#" data-i18n="contextMenu.tpCondition"></a></li>
    <li data-id="stoplossCondition" class="spaceIcon scxContextMenuTLsl"><a href="#" data-i18n="contextMenu.slCondition"></a></li>
    <li data-id="clearAllCondition" class="spaceIcon"><a href="#" data-i18n="contextMenu.clearAllCondition"></a></li>
    <li class="divider"></li>
    <li data-id="visibleOneclick" class="spaceIcon scxContextMenuOneclick"><a href="#" data-i18n="contextMenu.visibleOneclick"></a></li>
    <li data-id="visibleToolbar" class="spaceIcon"><a href="#" data-i18n="contextMenu.visibleToolbar"></a></li>
    <li class="divider"></li>
    <li data-id="deleteAllDrawing" class="spaceIcon"><a href="#" data-i18n="contextMenu.deleteAllDrawing"></a></li>
    <li data-id="deleteAllIndicators" class="spaceIcon"><a href="#" data-i18n="contextMenu.deleteAllIndicators"></a></li>
    <li class="divider"></li>
    <li data-id="addIndicator" class="spaceIcon"><a href="#" data-i18n="contextMenu.addIndicator"></a></li>
    <li data-id="themesSetting" class="spaceIcon scxContextMenuTheme"><a href="#" data-i18n="contextMenu.themeSetting"></a></li>
    <li data-id="format" class="spaceIcon"><a href="#" data-i18n="contextMenu.format"></a></li>
</ul>