<ul id="scxDrawingContextMenuTrendlineOrder" class="dropdown-menu scxContextMenu" role="menu">
    <li ctx-type="0" data-id="modifyConditionOrder"><a href="#" data-i18n="contextMenu.modifyTLorder"></a></li>
    <li ctx-type="4" data-id="modifyMarketOrder"><a href="#" data-i18n="contextMenu.modifyMarketOrder"></a></li>
    <li ctx-type="5" data-id="closeMarketOrder"><a href="#" data-i18n="contextMenu.closeMarketOrder"></a></li>
    <li class="divider"></li>
    <li ctx-type="0" data-id="deleteConditionOrder"><a href="#" data-i18n="contextMenu.deleteTLorder"></a></li>
    <li ctx-type="4" data-id="deleteMarketOrder"><a href="#" data-i18n="contextMenu.deleteMarketOrder"></a></li>
</ul>