body {
    background-color: #000;
    margin: 0;
    font-size: 14px;
    text-align: center;
}

body.scxThemeLight {
    background-color: #FFF;
}

body.scxThemeBeet {
    background-color: #683857;
}

body.scxThemeCyan {
    background-color: #688896;
}

body.scxThemeGray {
    background-color: #595959;
}

body.scxThemeOlive {
    background-color: #678e4c;
}

body.scxThemeOrange {
    background-color: #ae5649;
}

body.scxThemePurple {
    background-color: #856899;
}

body.scxThemeSky {
    background-color: #3d85a5;
}

body.scxThemeTeal {
    background-color: #4d8985;
}


#chartContainer {
    display: inline-block;
    text-align: left;
}

.scxContainer {
    margin-left: auto;
    margin-right: auto;
}

#footer {
    text-align: center;
    padding-top: 30px;
    min-width: 768px;
    width: 100%;
    display: inline-block;
}

.logInDialog {
    text-align: center;
    padding-top: 30px;
    margin-right: auto;
    margin-left: auto;
    max-width: 400px;
}

#scxLogInError{
    color: red;
}

.dataFeedDialog {
    width: 400px;
    text-align: center;
    padding-top: 30px;
    margin-right: auto;
    margin-left: auto;
    display: none;
}

#chartContainer.scxFullWindow + #footer {
    display: none;
}

#chartContainer.scxFullWindow + #recreationBtnContainer {
    display: none;
}

#footer .logo {
    height: 138px;
    width: 458px;
    display: inline-block;
    background: transparent url("../img/scx-logo-light.png") center no-repeat;
}

body.scxThemeLight #footer .logo {
    background-image: url("../img/scx-logo-light.png");
}

body.scxThemeCyan #footer .logo {
    background-image: url("../img/scx-logo-dark.png");
}

body.scxThemeBeet #footer .logo {
    background-image: url("../img/scx-logo-light.png");
}

body.scxThemeGray #footer .logo {
    background-image: url("../img/scx-logo-dark.png");
}

body.scxThemeOlive #footer .logo {
    background-image: url("../img/scx-logo-dark.png");
}

body.scxThemeOrange #footer .logo {
    background-image: url("../img/scx-logo-dark.png");
}

body.scxThemePurple #footer .logo {
    background-image: url("../img/scx-logo-dark.png");
}

body.scxThemeSky #footer .logo {
    background-image: url("../img/scx-logo-dark.png");
}

body.scxThemeTeal #footer .logo {
    background-image: url("../img/scx-logo-dark.png");
}

.copyright {
    color: darkgrey;
    font-size: 10px;
}

/* custom css style */
.scx-icon-template img{
    position: relative;
    padding-top: 6px;
}
.scxToolbarRealtime, .scxToolbarRealtime .scxToolbarButton-buttonWrapper:hover {
    background-image:url('../img/realtime.png');
    background-position:center;
    background-repeat:no-repeat;
}

.scxToolbarRealtime .scxToolbarButton-activateBtn .scxToolbarButton-dropdownElement-image {
  font-family: "scx-icons";
  color: #bebebe;
  font-size: 18px;
  pointer-events: none; 
}

.scxToolbarRealtime.activated .scxToolbarButton-activateBtn .scxToolbarButton-dropdownElement-image {
  color: #5EC6E8; 
}

.scxToolbarTLbuy, .scxToolbarTLbuy .scxToolbarButton-buttonWrapper:hover {
    background-image:url('../img/cmenu_buy.png');
    background-position:center;
    background-repeat:no-repeat;
}

.scxToolbarTLbuy .scxToolbarButton-activateBtn .scxToolbarButton-dropdownElement-image {
  font-family: "scx-icons";
  color: #bebebe;
  font-size: 18px;
  pointer-events: none; 
}

.scxToolbarTLbuy.activated .scxToolbarButton-activateBtn .scxToolbarButton-dropdownElement-image {
  color: #5EC6E8; 
}


.scxToolbarTLsell, .scxToolbarTLsell .scxToolbarButton-buttonWrapper:hover {
    background-image:url('../img/cmenu_sell.png');
    background-position:center;
    background-repeat:no-repeat;
}

.scxToolbarTLsell .scxToolbarButton-activateBtn .scxToolbarButton-dropdownElement-image {
  font-family: "scx-icons";
  color: #bebebe;
  font-size: 18px;
  pointer-events: none; 
}

.scxToolbarTLsell.activated .scxToolbarButton-activateBtn .scxToolbarButton-dropdownElement-image {
  color: #5EC6E8; 
}

.scxToolbarTLTP, .scxToolbarTLTP .scxToolbarButton-buttonWrapper:hover {
    background-image:url('../img/cmenu_tp.png');
    background-position:center;
    background-repeat:no-repeat;
}

.scxToolbarTLTP .scxToolbarButton-activateBtn .scxToolbarButton-dropdownElement-image {
  font-family: "scx-icons";
  color: #bebebe;
  font-size: 18px;
  pointer-events: none; 
}

.scxToolbarTLTP.activated .scxToolbarButton-activateBtn .scxToolbarButton-dropdownElement-image {
  color: #5EC6E8; 
}

.scxToolbarTLSL, .scxToolbarTLSL .scxToolbarButton-buttonWrapper:hover {
    background-image:url('../img/cmenu_sl.png');
    background-position:center;
    background-repeat:no-repeat;
}

.scxToolbarTLSL .scxToolbarButton-activateBtn .scxToolbarButton-dropdownElement-image {
  font-family: "scx-icons";
  color: #bebebe;
  font-size: 18px;
  pointer-events: none; 
}

.scxToolbarTLSL.activated .scxToolbarButton-activateBtn .scxToolbarButton-dropdownElement-image {
  color: #5EC6E8; 
}

.scxContextMenuTLbuy {
    background-image: url('../img/cmenu_buy.png');
    background-position: 10px center;
    background-repeat: no-repeat;    
}

.scxContextMenuTLsell {
    background-image: url('../img/cmenu_sell.png');
    background-position: 10px center;
    background-repeat: no-repeat;
}

.scxContextMenuTLsl {
    background-image: url('../img/cmenu_sl.png');
    background-position: 10px center;
    background-repeat: no-repeat;
}

.scxContextMenuTLtp {
    background-image: url('../img/cmenu_tp.png');
    background-position: 10px center;
    background-repeat: no-repeat;
}

.scxContextMenuOneclick {
    background-image: url('../img/cmenu_oneclick.bmp');
    background-position: 10px center;
    background-repeat: no-repeat;
}

.scxContextMenu .spaceIcon {
    padding-left: 10px;
}


/* Template dialog */
@media (min-width: 1px) {
    #scxTemplateDialog .modal-dialog {
      width: 20em; }
      #scxTemplateDialog .modal-dialog .modal-content .scxTemplateDialog-body > table {
        display: block;
        width: 98%; }
      #scxTemplateDialog .modal-dialog .modal-content .scxTemplateDialog-body #scxTemplateDialog_input_textFont {
        width: 11.33333em; }
      #scxTemplateDialog .modal-dialog .modal-content .scxTemplateDialog-body .scxLoadDropdown {
        width: 100%; }
      #scxTemplateDialog .modal-dialog .modal-content .scxTemplateDialog-footer-buttons {
        display: inline-block; }
      #scxTemplateDialog .modal-dialog .modal-content #scxTemplateDialog_themeWrapper .bootstrap-select.btn-group .dropdown-menu li a span.text {
        width: 3.5em; }
      #scxTemplateDialog .modal-dialog .modal-content #scxTemplateDialog_input_theme + .bootstrap-select {
        margin-bottom: 5px;
        width: 8.5em; } }
  @media (min-width: 400px) {
    #scxTemplateDialog .modal-dialog {
      width: 34em; }
      #scxTemplateDialog .modal-dialog .modal-content .scxTemplateDialog-body > table {
        display: inline-block;
        width: 49%; }
      #scxTemplateDialog .modal-dialog .modal-content .scxTemplateDialog-body #scxTemplateDialog_input_textFont {
        width: 11.3333em; }
      #scxTemplateDialog .modal-dialog .modal-content .scxTemplateDialog-body .scxLoadDropdown {
        width: 100%; }
      #scxTemplateDialog .modal-dialog .modal-content .scxTemplateDialog-body .scxTemplateDialog-footer-buttons {
        display: inline-block; }
      #scxTemplateDialog .modal-dialog .modal-content .scxTemplateDialog-body #scxTemplateDialog_themeWrapper .bootstrap-select.btn-group .dropdown-menu li a span.text {
        width: 3.5em; }
      #scxTemplateDialog .modal-dialog .modal-content .scxTemplateDialog-body #scxTemplateDialog_input_theme + .bootstrap-select {
        width: 8.5em; } }
  @media (min-width: 768px) {
    #scxTemplateDialog .modal-dialog {
      width: 50em; }
      #scxTemplateDialog .modal-dialog .modal-content .scxTemplateDialog-body > table {
        display: inline-block;
        width: 49%; }
      #scxTemplateDialog .modal-dialog .modal-content .scxTemplateDialog-body #scxTemplateDialog_input_textFont {
        width: 13.3em; }
      #scxTemplateDialog .modal-dialog .modal-content .scxTemplateDialog-body .scxLoadDropdown {
        width: 100%; }
      #scxTemplateDialog .modal-dialog .modal-content .scxTemplateDialog-body #scxTemplateDialog_input_theme + .bootstrap-select {
        width: 12.5em; }
      #scxTemplateDialog .modal-dialog .modal-content .scxTemplateDialog-body #scxTemplateDialog_themeWrapper .bootstrap-select.btn-group .dropdown-menu li a span.text {
        width: 7.8em; } }
  #scxTemplateDialog .modal-dialog .modal-content .modal-header h4 {
    width: calc(90% - 10px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  #scxTemplateDialog .modal-dialog .modal-content .scxTemplateDialog-body {
    overflow: auto; }
    #scxTemplateDialog .modal-dialog .modal-content .scxTemplateDialog-body > table {
      vertical-align: top; }
      #scxTemplateDialog .modal-dialog .modal-content .scxTemplateDialog-body > table td:nth-child(1){
        vertical-align: middle;
        padding: 0.6667em 0.33339em;
        width: 35%;}
        #scxTemplateDialog .modal-dialog .modal-content .scxTemplateDialog-body > table td.scxInline {
          width: 17em; }
    #scxTemplateDialog .modal-dialog .modal-content .scxTemplateDialog-body label {
      font-weight: normal;
      margin-bottom: 0; }
      #scxTemplateDialog .modal-dialog .modal-content .scxTemplateDialog-body label.disabled {
        color: #666666; }
    #scxTemplateDialog .modal-dialog .modal-content .scxTemplateDialog-body #scxTemplateDialog_input_textSize + .bootstrap-select {
      width: 5em; }
    #scxTemplateDialog .modal-dialog .modal-content .scxTemplateDialog-body #scxTemplateDialog_input_volumeWidth {
      display: inline-block;
      width: 5em; }
    #scxTemplateDialog .modal-dialog .modal-content .scxTemplateDialog-body #scxTemplateDialog_input_newThemeName {
      width: 10.143em;
      font-size: 1em;
      height: 2.8333em;
      margin-bottom: 5px;
      background-color: #313131;
      border-color: #626262;
      color: #ffffff; }
    #scxTemplateDialog .modal-dialog .modal-content .scxTemplateDialog-body #scxTemplateDialog_themeWrapper {
      margin-top: 5px; }
      #scxTemplateDialog .modal-dialog .modal-content .scxTemplateDialog-body #scxTemplateDialog_themeWrapper > * {
        display: inline-block;
        vertical-align: top; }
      #scxTemplateDialog .modal-dialog .modal-content .scxTemplateDialog-body #scxTemplateDialog_themeWrapper .bootstrap-select.btn-group .dropdown-menu li a span.text {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
    #scxTemplateDialog .modal-dialog .modal-content .scxTemplateDialog-body #scxTemplateDialog_newThemeWrapper {
      display: none; }
      #scxTemplateDialog .modal-dialog .modal-content .scxTemplateDialog-body #scxTemplateDialog_newThemeWrapper > * {
        display: inline-block;
        vertical-align: top; }

.col-6 {
    text-align: center;
    width: 50%;
}
.col-3 {
    text-align: center;
    width: 25%;
    padding-left: 25px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


.scxToolDisplay{
  display: inline-block;
  text-align: center;
}
.scxToolDisplay > div{
  text-align: center;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #50535e;
  border: 0px none #ffffff;
  border-radius: 50px;
}

  ::-webkit-scrollbar-thumb:hover {
      background: #595c68;
  }

  ::-webkit-scrollbar-thumb:active {
      background: #4b5b76;
  }

::-webkit-scrollbar-track {
  background: #131722;
  border: 0px none #ffffff;
  border-radius: 50px;
}

  ::-webkit-scrollbar-track:hover {
      background: #33353e;
  }

  ::-webkit-scrollbar-track:active {
      background: #333333;
  }

::-webkit-scrollbar-corner {
  background: transparent;
}

.paddles {
}
.paddle {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 3em;
}
.left-paddle {
	left: 0;
}
.right-paddle {
	right: 0;
}
.hidden {
	display: none;
}

/* ::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  background-color: white;
  background-size: 100%;
  background-position: center center;
  height: 10px;
  width: 10px;
  display: block;
}

::-webkit-scrollbar-button:horizontal:increment {
  background-image: url("../img/right.png");
}

::-webkit-scrollbar-button:horizontal:decrement {
  background-image: url("../img/left.png");
} */


.scxToolbar {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    text-align: left;
}

